@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --fonte-principal: "Mitr", sans-serif;

    --cor-fundo: #222831;
    --cor-caixa: #31363F;
    --cor-resetar: #E72929;
    --cor-letra-lugar-certo: #9ADE7B;
    --cor-letra-lugar-errado: #F3CA52;
    --cor-letra-errada: #333333;
    --cor-letra: #EEEEEE;
}


body {
    font-family: var(--fonte-principal);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: var(--cor-fundo);
}

#titulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--cor-letra);
}

.caixa {
    height: 100vh;
    width: 60vw;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--cor-caixa);
}

.caixa-espaco-palavra {
    height: 40vh;
    width: 60vw;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt-tentativa {
    height: 65px;
    width: 60%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.espaco {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    max-height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
}

.caixa-input {
    height: 10vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#palavra {
    outline: none;
    border: 0;
    border-radius: 16px;
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 40px;    
    font-weight: 500;
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
    margin-right: 50px;
}

.butao-base {
    height: 53px;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    outline: none;
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
    border: 2px solid var(--cor-letra);
    font-family: var(--fonte-principal);
    border-radius: 10px;
    transition: 0.8s;
}

.butao-base:hover {
    background-color: #76ABAE;
    color: var(--cor-fundo);
}


.caixa-alfabeto {
    height: 100vh;
    width: 50vw;
    border-radius: 32px;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--cor-caixa);
}

.letra-conteiner {
    font-family: var(--fonte-principal);
    height: 65px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-letra);
}

.letra-conteiner-ultima {
    font-family: var(--fonte-principal);
    height: 65px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-letra);
}

.caixa-letra {
    font-family: var(--fonte-principal);
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
}

#container-Tentativa1 {
    display: none;
}

#container-Tentativa2 {
    display: none;
}

#container-Tentativa3 {
    display: none;
}

#container-Tentativa4 {
    display: none;
}

#container-Tentativa5 {
    display: none;
}

#restartBox {
    position: absolute;
    height: 50vh;
    width: 50vw;
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
    font-family: var(--fonte-principal);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    flex-direction: column;
    transition: 1s;
}

#restartBox h1 {
    text-align: center;
}

#restartBox input {
    border: solid 2px var(--cor-resetar);
    color: var(--cor-resetar);
    height: 70px;
}

#restartBox input:hover {
    background-color: var(--cor-resetar);
    color: var(--cor-letra);
}